/*common shared styles*/
body{
   
  font-family: "Lato" sans-serif;
  font-family: "Open Sans" sans-serif;
 
    
}

.text-primary{
    color: orange;
}

.btn-primary{
    border-radius: 5px;
    background: orange;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;

}
/*nav related styles*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-tittel{
    color: black;
    /* font-family: sans-serif;  */
    font-size: 45px;
    /* font-style: normal; */
    font-weight: 800;
    /* line-height: normal; */
}
nav>ul {
    display: flex;
    align-items: center;
    
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
}
/* header releated style*/
.header{
    background-color: white;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-pic{
    width: 300px;
}